.page-header {
  width: 100vw;
  height: 7rem;
  background: var(--color-primary-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .header-logo-container {
    display: flex;
    height: 6.5rem;
    width: 18rem;
    padding-left: 3em;

    .logo{
      cursor: pointer;
    }
  }

  .header-text{
    color: var(--color-background);
    font-weight: 600;
  }

  .header-text-container{
    padding-right: 5em;
  }
}