.page-header {
    width: 100%;
    height: 7rem;

    background: var(--color-primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-top: none;

    .top-bar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
        height: 3rem;
    }

    .top-right-header{
        display: flex;
        height: 7rem;
    }


    .tabs-container{
        display: flex;
        justify-content: space-between;
        gap: 1rem
    }

    .tab{
        cursor: pointer;
    }

    .active{
        border-bottom: 2px solid var(--color-dark);
    }



}